{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container my-4">
    <h1>Bienvenue {{ user.firstname }}!</h1>

    <div class="row">
        <!-- Informations -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Mes informations</h2>
                    <ul class="list-unstyled">
                        <li>Nom: <strong>{{ user.firstname }} {{ user.lastname }}</strong></li>
                        <li>Email: <strong>{{ user.email }}</strong></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Commandes récentes -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Mes commandes récentes</h2>
                    {% if recent_orders %}
                        <ul class="list-unstyled">
                            {% for order in recent_orders %}
                                <li style="margin-bottom: 10px;">
                                    <a href="{{ path('orders_add', { 'id': order.id }) }}" style="color: #9e121b;">
                                        Commande n°{{ order.reference }} - 
                                        {# Date: {{ order.getCreatedAt()|date('d/m/Y') }} #}
                                        {% if created_at %}
                                            Date: {{ created_at|date('d/m/Y') }}
                                        {% else %}
                                            Data non disponibile
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Vous n'avez pas encore passé de commandes.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Liens rapides -->
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Liens rapides</h2>
                    <ul class="list-inline">
                        <li class="list-inline-item" ><a href="{{ path('app_home') }}" style="color: #9e121b;">Accueil</a></li>
                        <li class="list-inline-item"><a href="{{ path('cart_index') }}" style="color: #9e121b;">Mon Panier</a></li>
                        <li class="list-inline-item"><a href="#" style="color: #9e121b;">Service client</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


