{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

<div class="container">
    <section class="row">
        <div class="col-12">
            <h1>Voici votre panier</h1>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in data %}
                        <tr>
                            <td>{{ element.wine.name }}</td>
                            <td>{{ element.price }} €</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.quantity * element.price }} €</td>
                            <td>
                                <a href="{{ path('cart_add', {id: element.wine.id}) }}" class="btn btn-outline" style="color: #9e121b; border-color: #9e121b; font-size: 1.1em;">+</a>
                                <a href="{{ path('cart_remove', {id: element.wine.id}) }}" class="btn btn-outline" style="color: #9e121b; border-color: #9e121b; font-size: 1.1em;">-</a>
                                <a href="{{ path('cart_delete', {id: element.wine.id}) }}" class="btn btn-outline" style="color: #9e121b; border-color: #9e121b; font-size: 1.1em;">Supprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Pour le moment votre cave est vide. Si vous avez envie d'y remédier, on vous invite à aller jeter un œil à la boutique.</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total</td>
                        <td>{{ total }} €</td>
                        <td>
                            <a href"{{ path('cart_empty') }}" class="btn btn-outline-danger">Vider</a>
                        </td>
                        
                    </tr>
                </tfoot>
            </table>
            <a href="{{ path('orders_add') }}" class="btn btn-outline mb-3" style="color: #9e121b; border-color: #9e121b; font-size: 1.1em;">Valider le panier</a>
        </div>
    </section>
</div>
   
{% endblock %}
