{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    

    <section class="container my-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="h3 mb-4 font-weight-bold" style="color: #9e121b;">
                    <img src=" {{ asset('img/grape.png') }}" style="width:1.6em;"> INSCRIPTION
                </h1>
                <form method="post" style="margin-top:20px;">
                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.firstname, { label: 'Prénom'}) }}
                        {{ form_row(registrationForm.lastname, { label: 'Nom'}) }}
                        {{ form_row(registrationForm.email, { label: 'E-mail'}) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Mot de passe'
                        }) }}
                        <div class="form-group mt-3 mb-3">
                            <label for="{{ registrationForm.roles.vars.id }}">Role</label>
                            {% for choice in registrationForm.roles %}
                                <div class="form-check">
                                    {{ form_widget(choice, {'attr': {'class': 'form-check-input'}}) }}
                                    <label class="form-check-label" for="{{ choice.vars.id }}">{{ choice.vars.label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group form-check-inline">
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                            <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">Agree terms</label>
                        </div>
                        <br>
                        <button class="btn btn-outline mt-4 mb-4" style="color: #9e121b; border-color: #9e121b;" type="submit">
                            M'inscrire
                        </button>
                        <div class="text-end mb-3">
                            <a href="{{ path('app_login') }}" style="color: #9e121b;" class="text-end">Retour au login</a>
                        </div>
                        
                    {{ form_end(registrationForm) }}
                </form>

                <div class="col-md-12 position-absolute d-none d-md-block" style="top: 33%; left: 76%; transform: translate(-0%, -60%); z-index: 0;">
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" style="opacity: 0.9; ; width: 180px; height: 180px;">
                        <path fill="#9E121B" d="M29.7,-31.6C42.3,-31.8,58.8,-28.1,61,-20.1C63.2,-12.1,51.1,0.3,46.3,15C41.4,29.7,43.9,46.7,37.4,58C30.9,69.2,15.4,74.7,5,67.8C-5.5,61,-10.9,41.8,-13.3,29.2C-15.7,16.6,-15,10.6,-24,3C-33,-4.5,-51.7,-13.7,-50.9,-16.7C-50.1,-19.6,-29.8,-16.3,-18.1,-16.4C-6.3,-16.5,-3.2,-20,2.7,-23.7C8.6,-27.5,17.2,-31.5,29.7,-31.6Z" transform="translate(100 100)" />
                    </svg>
                </div>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col">
                            <img src="{{ asset('img/bouteilles-et-verres.jpg') }}" class="img-fluid d-block mx-auto" style="opacity: 0.5;" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
