{% extends 'base.html.twig' %}

{% block title %}Fournisseurs{% endblock %}

{% block body %}

    <section class="container my-3">
         <h1 class="text-center insuppliers-h1">
        {# <img src="/img/grape.png" style="width:1.6em;">  #}
        NOS FOURNISSEURS</h1> 

        <div class="container my-4" >
            <div class="row align-items-center">
                <!-- Colonna della foto -->
                <div class="col-12 col-md-6 text-center"> <!-- Centrato per gli schermi piccoli -->
                    <img src="/img/champagne-corks.jpg" alt="" class="img-fluid rounded" style="max-width: 100%;">
                </div>

                <!-- Colonna del testo -->
                <div class="col-12 col-md-6"> <!-- Si adatta per schermi piccoli -->
                    <h2 style="color: #000;">Découvrir les fournisseurs !</h2>
                    <br>
                    <p style=" line-height:1.8; font-size: 1.1em">
                        Du nord au sud, d'est en ouest... tous les meilleurs vignerons de France participent à notre projet pour vvous faire boire beaucoup mais bien boire.
                    </p>

                </div>
            </div>
        </div>
    </section>
    
    <section class="container my-3 mt-5">
    
        <div class="row">
            {% for supplier in suppliers %}
                
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card insuppliers" >
                        {# <div style="width: 100%; height: 200px; overflow: hidden;">
                            {% for image in box.getImages() %}
                                <img src="/img/{{ image.getName() }}" class="card-img-top img-fluid" alt="{{ box.name }}" style="object-fit: contain; width: 100%; height: 100%; margin-top:10px;">
                            {% endfor %}
                        </div> #}
                        <div class="card-body">
                            <h5 class="card-title text-center">{{supplier.name}}</h5>
                            <p class="card-text text-center" style="
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                "> {{supplier.description}}
                            </p>
                            <p class="card-text">{{supplier.region}} </p>
                            
                        </div>
                    </div>
                </div>
                
            {% endfor %}
        </div>
    </section>
        

{% endblock %}

