{% extends 'base.html.twig' %}

{% block title %}Vins par catégorie{% endblock %}

{% block body %}
    <h1>Vins dans la catégorie {{ category_id }}</h1>

    <div class="container my-3">
        <div class="row">
            {% for wine in wines %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <img src="/img/{{ wine.getImages()|first().getName() }}" class="card-img-top" alt="{{ wine.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ wine.name }}</h5>
                            <p>{{ wine.description }}</p>
                            <p>{{ wine.price }} €</p>
                            <a href="{{ path('app_wines_details', {'id': wine.id}) }}" class="btn btn-outline">Détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

